body {
  background-color: #0b0b0b;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
}

.fleet {
  margin: 10px;
  padding: 10px;
  background-color: green; /* Açık fleet yeşil */
  font-weight: bold;
}